{% extends 'base.html.twig' %}

{% block title %}

    Store : Détails de commande

{% endblock %}

{% block body %}

    <div class="container">

        <h1 class="text-center mb-4 mt-4"> Détail Commande </h1>
        <table class="table"> 
            <thead>
                <tr>
                    <th class="text-center">Nom produit</th>
                    <th class="text-center">Quantité</th>
                    <th class="text-center">Montant</th>
                </tr>
            </thead>
            <tbody>

            {% for ol in ols %}

                <tr>
                    <td class="text-center">{{ ol.product.name }}</td>
                    <td class="text-center">{{ ol.quantity }}</td>
                    <td class="text-center">{{ ol.total }}</td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
        <a href="{{path('order_all')}}" class="btn btn-secondary"> Retour aux commandes </a>

    </div>

{% endblock %}